html {
    -webkit-print-color-adjust: exact;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
}

header {
    height: 140px;
    border-bottom: 6px solid $gray-lightest;
}

footer {
    height: 160px;
    background-color: $gray;
    margin-top: 100px;
}

.main-nav {
    padding: 40px 0 21px;
    border-bottom: 1px solid $gray-lightest;
    @include clearfix;
}

.navbar-main {
    @include clearfix;
    .icon-main-menu {
        border: 1px solid $gray-dark;
        display: block;
        margin: 0 auto 7px;
    }
    .nav-link {
        color: $gray-dark;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 16px;
        font-family: $font-family-heading;
        text-align: center;
        padding: 0 25px;
    }
    .nav-item {
        width: 20%;
        float: left;
    }
    .nav-item + .nav-item {
        margin-left: 0;
    }
    .nav-link.active,
    .nav-link:hover,
    .nav-link:focus {
        .icon-main-menu {
            background-color: $gray-dark;
        }
    }
    .nav-link.disable {
        opacity: 0.4;
        cursor: pointer;
    }
}

.tiles-list {
    margin-top: 20px;
}

.tiles {
    border: 1px solid $gray-lightest;
    margin-top: 10px;
    transition: all 0.5s ease;
    .tiles-body {
        position: relative;
        overflow: hidden;
        @include clearfix;
    }
    .tiles-container {
        padding: 20px 30px 20px 30px;
        float: left;
        width: 100%;
        position: relative;
        // height: 148px;
        height: auto;
        min-height: 148px;
        // padding-bottom: 40px;
        h4 {
            margin-bottom: 5px;
            font-family: $font-family-bold;
        }
        h3 {
            margin-bottom: 20px;
        }
    }
    img.pull-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.tiles-banner {
    border: 0 solid;
    padding: 30px 33px;
    background-color: $brand-secondary;
    background-image: url("../images/SVG/bioderma-ikonos-39.svg");
    background-repeat: no-repeat;
    background-position: 100% 118%;
    h2 {
        margin: 0px 0;
    }
    .tiles-container {
        width: auto;
        float: none;
        height: auto;
        padding: 13px;
    }
}

.tiles-banner-1 {
    .tiles-container {
        align-items: center;
        height: 110px;
        display: flex;
        min-height: auto;
    }
}

.tiles-banner-2 {
    background-color: #f9f3f6;
    background-image: url("../images/SVG/bioderma-ikonos-371.svg");
    background-position: 58% -60%;
    padding: 12px 17px 12px 24px;
    .intro {
        line-height: 38px;
        color: $gray-dark;
    }
    .tiles-container {
        min-height: auto;
    }
}

.tiles-banner-3 {
    background-color: #ede8ef;
    background-image: url("../images/SVG/bioderma-ikonos-361.svg");
    background-position: 110% 137%;
    background-size: 70%;
    padding: 7px 17px 24px 17px;
    color: #6d809a;
    margin-top: 20px;
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #6d809a;
        margin-bottom: 7px;
    }
    .intro {
        margin-top: 7px;
        font-family: $font-family-bold;
        color: $gray-dark;
        line-height: 22px;
    }
    .border-dashed {
        margin: 18px 0 15px;
    }
    span {
        a {
            text-decoration: underline;
        }
    }
}

.tiles-body-title {
    font-size: 20px;
    font-family: $font-family-heading;
    text-transform: uppercase;
    float: left;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 20px;
    text-align: right;
    margin-right: 20px;
}

.tiles-extra {
    .tiles-container {
        padding-left: 260px;
        float: none;
    }
}

.tiles-horizontal {
    .tiles-body {
        img {
            width: 100%;
        }
    }
}

.action-bar {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 14px;
    li {
        display: inline;
        margin-right: 28px;
        color: #999999;
        // font-weight: 600;
        font-family: $font-family-base-bold;
    }
    .icon-bar {
        position: relative;
        top: 6px;
        margin-right: 3px;
    }
}

h2,
h3,
h4 {
    a:hover {
        text-decoration: underline;
    }
}

.tiles-label {
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1px;
    font-family: $font-family-heading;
    margin-right: 10px;
    margin-top: 3px;
    .icon {
        display: block;
        float: none;
        margin: 0 auto 10px;
        // margin-bottom: 5px;
    }
}

.label-primary {
    .icon {
        background-color: $brand-primary;
    }
    color: $brand-primary;
}

.label-secondary {
    .icon {
        background-color: $brand-secondary;
    }
    color: $brand-secondary;
}

.label-default {
    .icon {
        background-color: $brand-default;
    }
    color: $brand-default;
}

// .tiles-primary {
//     &:hover {
//         border: 1px solid $brand-primary;
//         -webkit-box-shadow: 0px 0px 6px 0px rgba(239, 98, 165, 1);
//         -moz-box-shadow: 0px 0px 6px 0px rgba(239, 98, 165, 1);
//         box-shadow: 0px 0px 6px 0px rgba(239, 98, 165, 1);
//     }
// }
// .tiles-secondary {
//     &:hover {
//         border: 1px solid $brand-secondary;
//         -webkit-box-shadow: 0px 0px 6px 0px rgba(101, 189, 235, 1);
//         -moz-box-shadow: 0px 0px 6px 0px rgba(101, 189, 235, 1);
//         box-shadow: 0px 0px 6px 0px rgba(101, 189, 235, 1);
//     }
// }
.tiles-list .tiles,
.discuss-list_item {
    &:hover {
        border: 1px solid $brand-default;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(131, 89, 146, 1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(131, 89, 146, 1);
        box-shadow: 0px 0px 6px 0px rgba(131, 89, 146, 1);
        h3 a,
        h4 a {
            text-decoration: underline;
        }
    }
}

.date {
    font-size: 12px;
    line-height: 22px;
    color: #a8b4bf !important;
    font-weight: 400 !important;
}

.comments {
    padding: 30px 40px 40px 30px;
    margin-top: 50px;
    @include clearfix;
}

.tiles {
    .comments {
        margin-top: 0;
    }
}

.bg-grey {
    background-color: $grey-bg;
}

.author {
    height: 30px;
    width: 30px;
    line-height: 27px;
    margin: 16px 10px 12px 0;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    float: left;
    font-weight: bold;
    &.purple {
        background-color: #a39ac7;
    }
    &.blue {
        background-color: #69bee9;
    }
}

.single-comment {
    a.link-seconrady {
        margin-top: 20px;
        display: inline-block;
    }
    .inner-box {
        display: block;
        padding-left: 40px;
    }
    .date {
        margin-top: 2px;
    }
}

.single-comment + .single-comment {
    margin-top: 23px;
}

.single-comment:last-of-type {
    .author {
        margin-top: 0;
    }
    .inner-box {
        // float: right;
        .form-control {
            // width: 510px;
            height: 72px;
            margin-bottom: 20px;
            padding: 10px 12px;
        }
    }
}

.collapse textarea.form-control {
    // color: #a8b4bf;
    font-size: 14px;
    padding: 10px 12px;
    &::-webkit-input-placeholder {
        color: #a8b4bf;
        opacity: 1;
    }
}

.block-banner {
    width: 100%;
    height: auto;
    padding: 30px 30px 50px;
    margin-bottom: 10px;
    .btn {
        width: 200px;
        margin-top: 15px;
    }
    p {
        // font-size: 16px;
        // line-height: 18px;
        max-width: 190px;
        margin: 0 auto;
        // color: $gray-dark;
    }
}

.block-banner-sm {
    padding: 30px 40px 35px;
    .btn {
        margin-top: 3px;
    }
}

h2.block-banner-title {
    font-family: $font-family-secondary;
    // font-family: $font-family-base;
    font-size: 24px;
    line-height: 28px;
}

.block-banner-1 {
    background-image: url('../images/SVG/bioderma-ikonos-36.svg');
    background-color: #f2eef4;
    background-repeat: no-repeat;
    background-position: center 73px;
    background-size: 112%;
}

.block-banner-2 {
    background-color: $banner-blue;
    p {
        font-size: 16px;
        line-height: 18px;
    }
}

.dotted-line {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 70px;
    margin: 0 auto 5px;
}

.dotted-line:after {
    content: "....................................";
    letter-spacing: -1px;
    font-size: 22px;
    color: #ffffff;
    display: inline-block;
    vertical-align: 3px;
}

.color-white {
    color: #ffffff !important;
}

.color-secondary {
    color: $brand-secondary !important;
}

.color-primary {
    color: $brand-primary !important;
}

.color-gray-dark {
    color: $gray-dark !important;
}

.block-banner-3 {
    background-image: url('../images/SVG/bioderma-ikonos-40.svg');
    background-color: $brand-secondary;
    background-repeat: no-repeat;
    background-position: right top;
    h2 {
        margin-bottom: 17px;
    }
}

ul.banner-list {
    padding: 0;
    // margin-top: 20px;
    li {
        list-style: none;
        margin: 20px 0;
        a {
            font-size: 16px;
            line-height: 20px;
            &:hover {
                text-decoration: underline;
            }
        }
        &:last-of-type {
            margin-bottom: 15px;
        }
        .icon {
            float: right;
            position: relative;
            top: 5px;
        }
    }
}

.divider {
    border-bottom: 1px solid;
    &.white {
        border-color: #ffffff;
        opacity: 0.5;
    }
    &.gray {
        border-color: #ccdbe5;
    }
}

.block-banner-4 {
    background-color: $grey-bg;
    h2 {
        margin-bottom: 30px;
        color: $gray-dark;
    }
    ul.banner-list {
        margin-bottom: 0;
    }
    ul.banner-list a {
        color: $gray-dark;
        line-height: 26px;
    }
    ul.banner-list li {
        margin: 12px 0;
    }
    ul.banner-list li b {
        margin-right: 8px;
        font-size: 20px;
        font-weight: 400;
        font-family: $font-family-base;
        float: left;
    }
    ul.banner-list li .d-block {
        padding-left: 25px;
    }
    .btn {
        margin-bottom: 0;
    }
}

.block-banner-5 {
    background-image: url('../images/SVG/bioderma-ikonos-35.svg');
    background-color: #e1f2fb;
    background-repeat: no-repeat;
    background-position: center 93px;
    background-size: 96%;
}

.block-banner-7 {
    background-image: url('../images/SVG/bioderma-ikonos-381.svg');
    background-color: #f5f7f8;
    background-repeat: no-repeat;
    background-position: center 93px;
    background-size: 109%;
}

.block-banner-8 {
    background-image: url('../images/SVG/bioderma-ikonos-371.svg');
    background-color: #f9f3f6;
    background-repeat: no-repeat;
    background-position: center 73px;
    background-size: 103%;
    padding: 30px 45px 35px;
}

.sidebar-content {
    background-color: $grey-bg;
    padding: 15px 15px 55px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 40px;
    .link {
        margin-top: 30px;
        display: inline-block;
    }
    h6 {
        color: #7299c2;
        font-weight: 600;
    }
    .divider {
        margin: 0 20px;
    }
}

.dropdown {
    a {
        display: block;
        height: 30px;
    }
    .dropdown-menu {
        right: -15px;
        left: -15px;
        padding-bottom: 20px;
        margin: 28px 0 0;
    }
    .dropdown-item + .dropdown-item {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            border-bottom: 1px solid #fff;
            top: 0px;
            left: 20px;
            right: 20px;
        }
    }
    .divider {
        width: 225px;
        margin: 0 auto;
    }
}

.no-touch {
    .dropdown {
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }
}

.points-wrapper {
    margin-top: 33px;
    margin-bottom: 40px;
}

.user-info-wrapper {
    .profile-wrapper {
        margin: 0px auto 10px;
        width: 75px;
        position: relative;
        .author {
            margin: 0;
            position: absolute;
            bottom: -5px;
            right: 0;
        }
    }
}

.dropdown.arrow-down {
    .dropdown-menu {
        margin-top: 0;
        left: auto;
        right: 0;
        width: 300px;
        &:after {
            display: none;
        }
    }
}

.user-name {
    text-transform: uppercase;
}

h2.user-name {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 25px;
}

.points-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #7299c2;
    color: #7299c2;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    font-weight: 600;
}

.points-line {
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
}

.points-level {
    position: relative;
}

.points-description {
    @include clearfix;
    .intro {
        line-height: 20px;
        color: $gray-dark;
        font-family: $font-family-bold;
    }
    p {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
    h4 {
        font-family: $font-family-heading;
        margin-bottom: 15px;
    }
}

.dots-line {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 39px;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    top: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.dots-line:after {
    content: "....................................";
    letter-spacing: -1px;
    font-size: 22px;
    line-height: 24px;
    color: #7299c2;
    display: inline-block;
    vertical-align: 3px;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.points-description {
    padding-left: 55px;
    padding-right: 25px;
    padding-top: 3px;
}

.points-level:last-of-type {
    .dots-line:after {
        display: none;
    }
}

.points-level.active-prev {
    .dots-line {
        &:before {
            content: "....................................";
            letter-spacing: -1px;
            font-size: 22px;
            line-height: 24px;
            top: 51%;
            position: absolute;
            color: $brand-pink;
            display: inline-block;
            vertical-align: 3px;
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-rl;
            -moz-writing-mode: vertical-rl;
            -ms-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
        }
    }
}

.points-level.active {
    color: $brand-pink;
    .points-icon {
        background-color: $brand-pink;
        color: #ffffff;
        border-color: $brand-pink;
    }
    h4 {
        color: $brand-pink;
    }
    // a:hover {
    //     color: #53a9d5;
    // }
    .reverse {
        // background-color: #53a9d5;
        background-color: $sidebar-form-color;
        color: #ffffff;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -5px;
            right: -5px;
            top: -1px;
            bottom: -1px;
            background-color: $sidebar-form-color;
        }
        &:after {
            content: attr(title);
            color: #fff;
            position: absolute;
            left: 0;
        }
        &:hover {
            text-decoration: none;
            background-color: #53a9d5;
            // background-color: #ffffff;
            &:before {
                background-color: #53a9d5;
            }
        }
    }
}

.points-level.completed {
    h4 {
        color: $pagination-color;
        margin-top: 9px;
        margin-bottom: 0px;
    }
    .points-icon {
        background-image: url('../images/SVG/check-03.svg');
        border: 0 solid;
        background-size: cover;
    }
}

.loadmore {
    padding-top: 25px;
    text-align: center;
}

.user-info {
    height: 70px;
    width: 100%;
    background-color: $grey-bg;
    float: right;
    padding: 14px 40px 14px 17px;
    line-height: 17px;
    position: relative;
    .profile-wrapper {
        margin-right: 17px;
        float: left;
        max-width: 40px;
    }
    .arrow-down {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 26px;
        button {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 26px;
            border: 0px solid;
            background-color: $dropdown-bg;
            background-image: url("../images/SVG/arrow-down.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
        &.open,
        &:hover {
            button {
                transform: rotate(180deg);
            }
        }
    }
    .subtitle {
        text-transform: none;
        color: #a8b4bf;
        font-family: $font-family-base;
    }
    .number-wrap {
        float: left;
        margin-left: 3px;
    }
    .dots-line {
        height: 42px;
        width: 27px;
        float: left;
        position: relative;
        top: 0;
        &:after {
            line-height: 3px;
            color: #d5d6d7;
        }
    }
    .user-name {
        margin-bottom: 0;
    }
}

.number-wrap {
    margin: 5px 0;
}

.wrapper.open {
    height: 115px;
    overflow-y: hidden;
}

.jumbotron {
    // background-color: #;
    background-image: url("../images/SVG/bioderma-ikonos-41.svg");
    background-position: 66%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    h2 {
        color: #6d809a;
        margin-bottom: 12px;
    }
    h2.color-gray-dark {
        margin-bottom: 27px;
    }
    .intro {
        color: $gray-dark;
        margin-bottom: 25px;
        // width: 630px;
        // margin: 0 auto;
    }
    .border-dashed {
        margin-bottom: 21px;
        width: calc(100% - 80px);
        margin-left: 40px;
        margin-right: 40px;
        background-image: none;
    }
    .close {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.border-dashed {
    height: 1px;
    background-image: url("../images/SVG/divider-dashed.png");
    background-size: inherit;
}

.label-number {
    width: 36px;
    height: 36px;
    background-color: $brand-primary;
    color: #ffffff;
    // font-size: 
    text-align: center;
    margin: 0 auto;
    border-radius: 36px;
    font-weight: 600;
    // padding: 9px 0 9px 3px;
}

.tips-wrapper {
    display: table;
    .tip {
        display: table-cell;
        vertical-align: bottom;
        width: 125px;
        // float: left;
        padding: 0 10px;
        line-height: 16px;
        // margin: 0 auto;
        color: #6d809a;
        &:last-of-type {
            width: 33.3333333333%;
            padding-left: 30px;
        }
    }
    .tip-text {
        margin-bottom: 3px;
    }
    .tip-body {
        width: 98px;
        margin: 0 auto;
    }
    .label-number {
        margin-bottom: 7px;
    }
}

.sidebar-form {
    background-color: $sidebar-form-color;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #fff;
    h2 {
        margin-bottom: 8px;
        font-size: 24px;
    }
    a.link {
        color: rgba(255, 255, 255, 0.5);
        font-size: 13px;
    }
    label {
        font-size: 13px;
        margin-top: 10px;
        display: inline-block;
    }
    .remember {
        margin-bottom: 15px;
    }
    .btn {
        font-size: 16px;
        line-height: 18px;
    }
}

.sidebar-form-wrapper {
    padding: 25px 30px 40px;
    &.sidebar-form-primary {
        background-color: $brand-primary;
    }
    &.sidebar-form-secondary {
        height: 330px;
    }
}

.welcome-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-top: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    border-left: 1px solid $gray-lightest;
    height: 477px;
    background-image: url("../images/Illustrations/Wellcome.png");
    background-repeat: no-repeat;
    background-position: right 100%;
}

.welcome-container {
    padding: 20px 20px;
    .display-5 {
        color: #6d809a;
        padding-left: 5px;
    }
    .intro {
        color: #4b5d74;
    }
}

.welcome-title {
    font-size: 36px;
    font-family: $headings-font-family;
    color: #6d809a;
    line-height: 0.7;
    margin: 36px 25px 0;
    float: left;
    span {
        font-size: 20px;
    }
}

.list-lg {
    list-style: none;
    margin-top: 15px;
    li {
        line-height: 30px;
        margin-bottom: 12px;
        font-size: 16px;
        color: $gray-dark;
    }
}

.list-lg-number {
    height: 30px;
    width: 30px;
    color: #6d809a;
    border: 1px solid #6d809a;
    border-radius: 29px;
    text-align: center;
    line-height: 28px;
    // padding: 10px 0;
    font-size: 19px;
    float: left;
    margin-right: 10px;
}

.login {
    background-image: url('../images/SVG/user.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
}

.password {
    background-image: url('../images/SVG/lock.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
}

.no-border {
    border: 0 solid !important;
}

// Modal
.modal-title {
    display: inline-block;
}

.modal-success {
    border: 1px solid #61bced;
    padding: 43px 0 60px;
    text-align: center;
    display: none;
    &.active {
        display: block;
    }
    p {
        font-size: 18px;
        font-family: $font-family-heading;
        color: #3cd198;
        margin-bottom: 0;
    }
    .step-2-icon {
        float: none;
        background-image: url('../images/SVG/steps-011.svg');
        margin-bottom: 10px;
    }
}

.modal-open .wrapper {
    overflow-y: hidden;
}

.touch .modal-open .wrapper {
    height: 115px;
}

.touch .modal {
    position: absolute;
    bottom: auto;
}

.touch body {
    height: 100vh;
}

.modal-form-content {
    width: 370px;
    margin: 0 auto;
    .btn {
        margin-top: 10px;
        width: 120px
    }
    .custom-control {
        margin-top: 10px;
    }
    .custom-control-description {
        font-size: 13px;
        line-height: 13px;
        a {
            color: inherit;
        }
    }
    a.link {
        font-size: 13px;
        line-height: 13px;
    }
    .custom-control-indicator {
        top: 3px;
    }
}

#formRegistrationModal .modal-body {
    padding-bottom: 75px;
}

.modal-header {
    a.link {
        font-size: 14px;
        cursor: pointer;
    }
}

.modal-subtitle {
    font-size: 16px;
    font-family: $font-family-bold;
    position: relative;
    margin: 15px 0 30px;
    &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #d6e3ec;
        top: 12px;
        right: 0;
        left: 200px;
    }
}

.row-sm {
    .col-sm-3,
    .col-sm-4,
    .col-sm-2,
    .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.product {
    border: 1px solid $gray-lightest;
    overflow: hidden;
    position: relative;
    .action-bar {
        position: relative;
        bottom: 0;
        float: right;
        li {
            margin-right: 0;
        }
    }
    .divider {
        margin: 0 30px;
    }
    &.disable {
        .product-footer {
            .color-primary {
                color: #999999 !important;
            }
        }
        .product-hover .btn {
            background-color: #c9ced5;
            border-color: #c9ced5;
            cursor: inherit;
            pointer-events: none;
        }
    }
}

.product-mark {
    position: absolute;
    bottom: 100%;
    left: 25px;
    background-color: $gray-dark;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 1px 10px;
    letter-spacing: 1.3px;
    margin-bottom: 2px;
    font-family: $font-family-heading;
}

.product-hover {
    left: 0;
    right: 0;
    bottom: -28px;
    position: absolute;
    transition: all 0.5s ease;
    background-color: #fff;
    .btn {
        opacity: 0
    }
}

.product-image {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #b8c8d8;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s ease;
    }
}

.product {
    &:hover,
    &.active {
        .product-image:after {
            opacity: 0.3;
        }
        .product-hover {
            bottom: 0px;
            z-index: 5;
            .btn {
                display: block;
                width: 160px;
                margin: 9px auto 30px;
                opacity: 1;
            }
            .product-mark {
                margin-bottom: 0px;
            }
        }
    }
}

.product-description {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 30px 0px;
    color: #6d809a;
    height: 55px;
    font-family: $font-family-heading;
}

.product-image {
    img {
        width: 100%;
    }
}

.product-footer {
    padding: 0 30px 0;
    @include clearfix;
    h2 {
        display: inline-block;
        margin-bottom: 25px;
        line-height: 1;
    }
    span {
        font-family: $font-family-heading;
    }
}

.divider.gray-lightest {
    border-color: $gray-lightest;
}

.product-list {
    margin-top: 25px;
    .product,
    .block-banner {
        height: 353px;
        margin-bottom: 19px;
    }
}

.product-list {
    .block-banner {
        // border: 1px solid transparent;
    }
}

.steps-wrapper {
    background-color: $sidebar-form-color;
    margin-bottom: 40px;
    margin-top: 12px;
    overflow: hidden;
    min-height: 130px;
    position: relative;
}

.step {
    position: absolute;
    float: left;
    width: 100%;
    opacity: 0;
    z-index: -10;
    padding-left: 30px;
    &.active {
        opacity: 1;
        z-index: 5;
        position: relative;
    }
    .form-control {
        border-right: 0 solid;
        float: left;
    }
    .btn-step {
        width: 82px;
    }
    .form-group {
        margin-bottom: 0;
        margin-top: 10px;
        .btn {
            line-height: 1.33;
        }
    }
    .step-aligin {
        a {
            .icon-plus {
                top: 3px;
                margin-left: 4px;
            }
        }
        form {
            a {
                margin-top: 10px;
            }
        }
    }
    .step-link {
        margin-top: 7px;
        font-size: 13px;
    }
}

.step1 {
    .form-control {
        width: 200px;
    }
    .link {
        margin-top: 10px;
    }
}

.step3 {
    .form-control {
        width: 145px;
    }
}

.step-wrapper {
    height: 90px;
    display: table;
    margin: 20px 0;
    float: left;
    .step-aligin {
        display: table-cell;
        vertical-align: middle;
        padding-right: 30px;
    }
}

.step-number {
    font-size: 90px;
    line-height: 0.5;
    font-family: $font-family-bold;
    color: rgba( 255, 255, 255, 0.3);
    // margin: 0 0 0 30px;
    width: 62px;
    text-align: center;
    float: left;
}

.step-product-list {
    h3 {
        width: 310px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 9px 0;
    }
}

.next-btn {
    background-color: rgba(75, 93, 116, 0.2);
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 160px;
    color: rgba( 255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 22px;
    font-family: $font-family-heading;
    text-align: center;
    pointer-events: none;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 130px;
    .icon {
        opacity: 0.3;
        top: 2px;
        left: 5px;
        // position: absolute;
        // top: 55px;
        // right: 38px;
    }
    span {
        display: table-cell;
        vertical-align: middle;
    }
    &.active {
        background-color: #4b5d74;
        color: #ffffff;
        pointer-events: all;
        .icon {
            opacity: 1;
        }
    }
    &.wide {
        width: 220px;
        // padding-left: 45px;
        text-align: left;
    }
    .icon-plus {
        width: 25px;
        height: 25px;
        background-size: cover;
    }
}

.input-file-container {
    // width: 150px;
    position: relative;
}

.js .input-file-trigger {
    display: block;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    margin-bottom: 0;
}

.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    // width: 225px;
    opacity: 0;
    padding: 10px 0;
    cursor: pointer;
}

.file-return {
    margin-bottom: 0;
    padding: 10px 0;
    display: none;
    font-weight: 600;
    color: #fff;
    float: left;
}

.hidden {
    opacity: 0 !important;
    display: none !important;
}

.clear-input {
    display: none;
    height: 20px;
    margin: 9px;
}

.show-link {
    display: inline-block;
}

.text-content {
    @include clearfix;
}

.text-content .select2 {
    width: 170px !important;
}

.text-content {
    .form-group {
        margin-bottom: 0;
    }
}

#expertAsk {
    .text-content .select2 {
        width: 140px !important;
    }
    .select-wrap .select-label {
        margin-right: 10px;
        margin-bottom: 0;
    }
    .pagination {
        margin-top: 2.5rem;
    }
}

.select-label {
    line-height: 40px;
    margin-right: 20px;
    font-size: 16px;
}

.select-wrap {
    float: right;
}

#loyalityProgram {
    .text-content {
        .intro {
            margin-bottom: 30px;
        }
    }
}

.text-content {
    .btn-sm {
        padding: 5px 20px;
    }
}

.main-product-image {
    border: 1px solid $input-border-color;
    margin-bottom: 15px;
    margin-top: 18px;
    overflow: hidden;
    text-align: center;
    margin-right: 30px;
}

.price {
    background-color: $grey-bg;
    color: $brand-primary;
    padding: 17px 0 10px;
    width: 260px;
    margin-bottom: 22px;
    @include clearfix;
}

.price-wrapper {
    width: 120px;
    padding: 0 15px;
    font-family: $font-family-heading;
    text-align: right;
    border-right: 1px solid $input-border-color;
    float: left;
    .display-2 {
        line-height: 0.8;
        margin-bottom: 7px;
    }
}

.price-description {
    width: 140px;
    padding: 0 15px;
    float: left;
    line-height: 18px;
    font-family: $font-family-heading;
}

.location-form {
    width: 250px;
    margin-top: 5px;
    .form-group {
        margin-bottom: 13px;
    }
    .btn {
        margin-top: 8px;
    }
}

.col-form-label-light {
    color: #a8b4bf;
    margin-bottom: 6px;
}

.main-product-info-wrapper {
    // padding-left: 30px;
    h2 {
        margin-top: 25px;
        margin-bottom: 13px;
    }
    h3 {}
}

.form-group {
    position: relative;
    .icon-question-light {
        position: absolute;
        right: -28px;
        bottom: 10px;
        top: auto;
    }
}

.select-wrap {
    // margin-top: 10px;
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-top: 0px;
        padding-bottom: 0;
    }
    .select2-container .select2-selection--single {
        height: 30px;
    }
    .select-label {
        line-height: 30px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 28px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 14px;
    }
}

.discuss-list {
    margin-top: 12px;
}

.discuss-action-bar {
    margin-top: 25px;
}

.discuss-list_item {
    margin-bottom: 9px;
    height: 110px;
    border: 1px solid $input-border-color;
    @include clearfix;
    .dots-line {
        float: right;
        position: relative;
        top: 26px;
        height: 52px;
        width: 30px;
        &:after {
            line-height: 0;
            color: #d6e3ec;
        }
    }
}

.discuss-text-column {
    width: 345px;
    float: left;
    padding: 20px;
    a {
        line-height: 18px;
        margin-bottom: 7px;
        display: block;
    }
    .start-date {
        font-size: 12px;
        color: $gray-light;
        font-weight: 400;
    }
}

.discuss-list_item:hover {
    a {
        text-decoration: underline;
    }
}

.discuss-user-column {
    width: 154px;
    float: right;
    padding: 30px 0;
    .time-ago {
        text-transform: none;
        color: #a8b4bf;
        font-family: "Trebuchet", "Helvetica Neue", Arial, sans-serif;
        line-height: 16px;
        font-size: 14px;
    }
    .profile-wrapper {
        margin-right: 10px;
        float: left;
        max-width: 40px;
    }
    .user-name {
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

.discuss-middle-column {
    color: #a8b4bf;
    float: left;
    padding: 35px 10px;
    span {
        display: block;
    }
}

textarea.form-control {
    font-size: 14px;
    line-height: 20px;
    height: 203px;
    padding: 10px 20px;
}

.textarea-wrapper {
    .form-control {}
}

.invite-form {
    margin-top: 20px;
    .form-group {
        margin-bottom: 14px;
    }
    a.link {
        margin-bottom: 10px;
        display: inline-block;
    }
    .col-form-label-light {
        margin-bottom: 5px;
    }
    .btn {
        margin-top: 20px;
    }
    .col-md-12:last-of-type {
        .form-group {
            margin-bottom: 0;
        }
    }
}

#friendsInvitation {
    .btn {
        margin-top: 17px;
    }
}

.container-sm {
    padding-right: 30px;
}

h1.display-7 {
    text-transform: inherit;
    margin-top: 35px;
}

ul.link-bar {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        a {
            font-size: 18px;
            color: #a8b4bf;
            &.active {
                color: $brand-primary;
            }
        }
    }
    li + li {
        &:before {
            position: relative;
            content: '/';
            font-size: 18px;
            color: #a8b4bf;
        }
    }
}

.topic-action-bar {
    margin-top: 15px;
}

.discuss-topics-list {
    margin-top: 19px;
}

.discuss-topics-list_item {
    margin-bottom: 9px;
    // height: 110px;
    border: 1px solid #d6e3ec;
    @include clearfix;
    p {
        line-height: 18px;
        margin-bottom: 0;
    }
    .action-bar {
        position: relative;
        display: inline-block;
        bottom: 0;
        margin-bottom: 23px;
        margin-top: 4px;
        li {
            color: #a8b4bf;
            margin-right: 12px;
        }
    }
    a.link {
        margin-top: 11px;
        display: inline-block;
        font-size: 14px;
    }
    &.discuss-topics-list_item-primary {
        border-color: #fdeff6;
        background-color: #fdeff6;
    }
}

.topic-item-bar {
    padding: 18px 18px 3px;
    @include clearfix;
    .profile-wrapper {
        float: left;
        margin-right: 10px;
        max-width: 40px;
    }
    .user-name {
        margin-top: 13px;
        margin-bottom: 0;
        line-height: 1;
    }
    .subtitle {
        color: #a8b4bf;
        margin-bottom: 8px;
    }
}

.topic-item-hover-bar {
    // display: none;
    // opacity: 0;
    // pointer-events: none;
    transition: all 0.3s ease;
    float: right;
    margin-bottom: 0;
    margin-top: 8px;
    li {
        display: inline-block;
        margin: 0 7px;
    }
}

.discuss-topics-list_wrapper {
    padding: 0 18px;
}

// .discuss-topics-list_item:hover {
//     .topic-item-hover-bar {
//         opacity: 1;
//         pointer-events: all;
//         display: block;
//     }
// }
.discuss-topics-list {
    margin-bottom: 12px;
}

.form-search {
    width: 380px;
    &::placeholder {
        color: #a8b4bf;
        opacity: 1;
    }
    .searchButton {
        width: 30px;
        height: 30px;
        background-image: url('../images/SVG/search-01.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        border: 0 solid;
        outline: none;
        position: absolute;
        right: 10px;
        top: 0;
        &:hover {
            background-image: url('../images/SVG/search-hover.svg');
        }
    }
}

.autocomplete-suggestions {
    border: 1px solid $gray-lightest;
    background: #FFF;
    overflow: auto;
    padding: 4px 0 20px;
}

.autocomplete-suggestion {
    padding: 5px 10px;
    overflow: hidden;
    color: $gray-dark;
}

.autocomplete-selected {
    background: $grey-bg;
    text-decoration: underline;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    font-family: $font-family-base;
    // color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.answer-item {
    border: 1px solid #e0e5ea;
    margin-bottom: 10px;
    .discuss-topics-list_item {
        margin-bottom: 0;
        background-color: $grey-bg;
        border: 0 solid;
    }
    .topic-item-bar {
        padding: 15px 30px 3px;
        .user-name {
            margin-bottom: 1px;
        }
        .subtitle {
            margin-bottom: 10px;
        }
        .profile-wrapper {
            max-width: 50px;
        }
    }
    .discuss-topics-list_item .action-bar {
        margin-top: 11px;
    }
    .discuss-topics-list_wrapper {
        padding: 0 30px;
    }
    .comments {
        margin-top: 0px;
        border-top: 1px solid #e0e5ea;
    }
}

.answer-ticket {
    padding: 26px 20px 20px;
}

.answer-title {
    font-family: $font-family-bold;
    margin-bottom: 7px;
}

.stories-list_item {
    border: 1px solid $gray-lightest;
    min-height: 360px;
    text-align: center;
    padding: 30px 0 10px;
    position: relative;
    margin-bottom: 19px;
    .action-bar {
        top: 10px;
        right: 0;
        bottom: auto;
        float: right;
    }
    .profile-wrapper {
        margin-bottom: 3px;
    }
    .intro {
        color: $gray-dark;
        margin-bottom: 11px;
    }
    p {
        padding: 0px 20px;
        text-align: left;
        line-height: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
        letter-spacing: -0.1px;
    }
}

.stories-list {
    margin-top: 25px;
    .col-md-6 {
        &:last-of-type,
        &:nth-last-of-type(2) {
            .stories-list_item {
                margin-bottom: 0;
            }
        }
    }
}

.more .link {
    margin-left: 5px;
}

.edit-form {
    padding-right: 20px;
    .modal-subtitle {
        padding-left: 0;
        margin-top: 30px;
        &:first-of-type {
            margin-top: 40px;
        }
        &:after {
            left: 0px;
            z-index: -1;
        }
        & > span {
            display: inline-block;
            background-color: #ffffff;
            padding-right: 20px;
        }
        .slim {
            font-family: $font-family-heading;
        }
    }
    .row {
        margin-left: -20px;
        margin-right: -20px;
        .col-md-6,
        .col-md-12 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .form-group {
        margin-bottom: 13px;
        .icon-edit {
            position: relative;
            top: 5px;
        }
    }
    .col-form-label-light {
        margin-bottom: 4px;
    }
    .row-sm {
        margin-left: -5px;
        margin-right: -5px;
        .col-xs-4 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .modal-subtitle-lg {
        margin-bottom: 39px;
    }
    .btn {
        margin-top: 17px;
    }
    .col-md-6:nth-of-type(2) {
        .form-group {
            // margin-bottom: 0;
        }
    }
    .form-nickname {
        font-size: 16px;
        padding: 0.65rem 0.75rem;
        font-family: $font-family-heading;
    }
    .btn-row {
        margin-right: -10px;
        margin-left: -10px;
    }
}

.success-message {
    margin-bottom: 0 !important;
}

.success-message .form-control-feedback {
    line-height: 30px;
    padding-left: 35px;
}

.user-photo-wrapper {
    position: relative;
    height: 125px;
    width: 125px;
    margin: 13px auto 25px;
    text-align: center;
    .author {
        margin: 0;
        position: absolute;
        bottom: -3px;
        right: 4px;
    }
    img {
        margin-bottom: 3px;
    }
}

.form-nickname-group {
    margin-top: 40px;
}

.table {
    margin-top: 50px;
}

.table td.icon-col {
    padding-left: 55px;
    position: relative;
    .icon-status {
        position: absolute;
        left: 15px;
        top: 15px;
    }
}

.total-points {
    font-size: 16px;
    margin-bottom: 20px;
    span {
        font-family: $font-family-heading;
        margin-right: 20px;
    }
}

.c-reserved {
    color: $sidebar-form-color;
}

.c-completed {
    color: #2dce90;
}

.c-waiting {
    color: $brand-pink;
}

#friendsList .table {
    margin-top: 20px;
}

.list {
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 27px;
    li {
        color: #4b5d74;
        margin: 10px 0 10px;
        line-height: 22px;
        position: relative;
    }
}

.list-marker li {
    list-style: none;
    &:before {
        content: '';
        width: 4px;
        height: 4px;
        display: inline-block;
        background-color: $brand-primary;
        position: absolute;
        left: -20px;
        top: 9px;
    }
}

.list-numbered {
    list-style: none;
    span {
        color: $brand-primary;
        font-size: 16px;
        margin-right: 5px;
        position: absolute;
        left: -20px;
        top: 0px;
    }
}

.list-title {
    font-size: 16px;
    font-family: $font-family-heading;
    margin-top: 27px;
}

.article-section {
    p {
        line-height: 22px;
        margin-bottom: 10px;
    }
    img {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .intro {
        margin: 25px 0 20px;
    }
}

.blockquote {
    margin-top: 30px;
}

#discussion h1,
#expertAsk h1 {
    margin-bottom: 10px;
}

#dropdownMenuButton {
    font-size: 12px;
    font-family: $font-family-heading;
}

@media (min-width: 988px) {
    .main-nav-limit {
        border-bottom: 0px solid;
        &:after {
            position: absolute;
            bottom: 0;
            left: 10px;
            width: calc(66.6666666667% - 20px);
            border-bottom: 1px solid #e0e5ea;
        }
    }
}

@media (max-width: 988px) {
    .profile-wrapper {
        float: left;
        margin: 0;
    }
    .sidebar-content {
        padding: 23px 20px 0px;
        margin-top: 18px;
    }
    h2.user-name {
        // float: left;
    }
    .profile-info {
        float: left;
    }
    h2.user-name {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
    }
    h6 {
        margin-bottom: 0;
    }
    .profile-info {
        padding: 14px 0px 15px 20px;
        text-align: left;
        width: 210px;
    }
    .sidebar-content .divider {
        // width: 100% + 40px;
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .number-wrapper {
        width: 180px;
        margin: 10px 0;
        h4 {
            margin-bottom: 0;
        }
    }
    .number-wrapper + .number-wrapper {
        border-left: 1px solid $gray-lightest;
        padding-left: 37px;
    }
    .sidebar-content .link {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .points-description p {
        padding-bottom: 2rem;
        margin-top: 4px;
    }
    .points-wrapper {
        margin-bottom: 40px;
        padding-right: 42px;
    }
    .points-level.active {
        .points-description {
            p {
                padding-bottom: 0.5rem;
                margin-top: 10px;
            }
            h4 {
                margin-bottom: 5px;
            }
        }
    }
    .dropdown.arrow-down .dropdown-menu {
        width: auto;
    }
    .user-info-wrapper .profile-wrapper {
        margin-top: 2px;
    }
    .points-level.active-prev .dots-line:before {
        top: 46%;
    }
    .navbar-main {
        width: 515px;
        float: left;
    }
    .navbar-main .nav-link {
        padding: 0 10px;
    }
    .navbar-main .nav-item {
        // width: 14.9%;
    }
    .loadmore {
        margin-bottom: 40px;
    }
    .block-banner {
        margin-bottom: 25px;
    }
    .user-info {
        width: 165px;
    }
    aside {
        .col-lg-4:last-of-type,
        .col-lg-4:nth-last-of-type(2) {
            .block-banner {
                margin-bottom: 0px;
            }
        }
    }
    aside {
        // .col-lg-4:nth-last-of-type,
        // .col-lg-4:nth-last-of-type(2) {
        //     margin-bottom: 300px;
        //     .block-banner {
        //         margin-bottom: 0px;
        //     }
        // }
        .col-md-12:nth-last-of-type {
            .block-banner {
                margin-bottom: 0px;
            }
        }
    }
    footer {
        margin-top: 60px;
    }
    #loyalityProgram footer {
        margin-top: 70px;
    }
    #home footer,
    #profileEdit footer {
        margin-top: 50px;
    }
    .welcome-container .intro {
        margin-top: 25px;
    }
    .list-lg {
        margin-top: 25px;
    }
    .welcome-wrapper {
        height: auto;
        padding-bottom: 60px;
        border-left: 0px solid;
        border-bottom: 0px solid;
    }
    .sidebar-form-wrapper.sidebar-form-primary {
        padding-top: 32px;
        padding-bottom: 35px;
        position: relative;
        // &:after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: -100px;
        //     right: -100px;
        //     background-color: $brand-primary;
        //     z-index: -1;
        // }
    }
    .sidebar-form-wrapper .btn {
        width: 240px !important;
    }
    .sidebar-form {
        width: calc(100% + 60px);
        margin-left: -30px;
    }
    .sidebar-form h2 {
        float: left;
        margin-right: 20px;
    }
    .sidebar-form-wrapper.sidebar-form-secondary {
        height: auto;
        padding-bottom: 50px;
        position: relative;
        //  width: calc(100% + 20px );
        // margin-left: -10px;
        // &:after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: -100px;
        //     right: -100px;
        //     background-color: $brand-secondary;
        //     z-index: -1;
        // }
    }
    .topic-action-bar {
        margin-top: 25px;
    }
    #welcome {
        footer {
            margin-top: 0px;
        }
    }
    .welcome-title {
        font-size: 45px;
        margin-right: 0;
        span {
            font-size: 25px;
        }
    }
    .welcome-wrapper {
        background-position: right 67%;
    }
    .welcome-container .display-5 {
        padding-left: 3px;
    }
    .sidebar-form-wrapper {
        padding: 25px 60px 40px;
    }
    .steps-wrapper {
        width: calc(100% + 60px);
        margin-left: -30px;
    }
    .step {
        // padding-left: 20px;
        form {
            float: left;
        }
        .form-group {
            margin-top: 0;
        }
    }
    .step-number {
        text-align: left;
    }
    .step1 {
        a.link {
            margin: 10px 20px;
        }
    }
    .step-wrapper {
        height: 163px;
    }
    .steps-wrapper {
        height: 203px;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .step-wrapper .step-aligin {
        padding-right: 24px;
    }
    .product-list {
        margin-top: 10px;
    }
    .product .divider {
        margin: 0 20px;
    }
    #loyalityProgram .select-wrap {
        margin-right: -20px;
        margin-top: 5px;
    }
    #loyalityProgram .text-content .select2 {
        width: 197px !important;
    }
    .step-product-list h3 {
        width: 167px;
        white-space: normal;
    }
    .next-btn {
        min-height: 207px;
        width: 207px !important;
        .icon {
            // top: 94px;
        }
    }
    .step3 .form-group .btn {
        padding: 10px 15px;
    }
    .step2 {
        .step-aligin.md-down {
            padding-top: 28px;
            span {
                display: block;
                margin-bottom: 15px;
            }
        }
    }
    .step3 {
        .step-aligin {
            display: block;
            float: left;
            height: 80px;
            &:nth-of-type(2n+2) {
                float: none;
                padding-left: 85px;
                padding-top: 10px;
                width: 600px;
                padding-top: 20px;
                .pull-left {
                    // width: 430px;
                }
            }
            // &:nth-of-type(1),
            // &:nth-of-type(2){
            //     height: 300px;
            // }
        }
        .step-aligin {
            padding: 10px 24px 20px 0;
            ;
        }
    }
    .step-number {
        font-size: 70px;
        line-height: 0.8;
    }
    .icon-photo {
        margin-right: 32px;
        margin-top: 1px;
    }
    .input-file-container {
        float: left;
    }
    .step3 form {
        // width: 430px;
        // @include clearfix;
        .form-group {
            float: left;
            margin-right: 16px;
        }
        .link {
            margin-top: 4px;
        }
        .step-link {
            margin-top: 9px;
        }
    }
    .js .input-file {
        width: 163px;
    }
    .step4 {
        .step-aligin {
            display: block;
            float: left;
            height: 80px;
            padding-top: 10px;
            &:nth-of-type(2),
            &:nth-of-type(5) {
                float: none;
                padding-left: 85px;
                padding-top: 10px;
                width: 600px;
                padding-top: 17px;
            }
        }
    }
    .product-list {
        width: calc(100% + 60px);
        margin-left: -30px;
    }
    .product-list .product,
    .product-list .block-banner {
        height: 383px;
    }
    .product-list .block-banner {
        padding: 30px 20px 50px;
    }
    .product-description {
        padding: 15px 20px 0px;
    }
    .product-image {
        height: 232px;
        img {
            height: 100%;
            width: auto;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .product-hover {
        bottom: -25px;
    }
    .product-description {
        height: 82px;
    }
    .product:hover {
        .product-description {
            height: 70px;
        }
    }
    .product:hover .product-hover,
    .product.active .product-hover {
        bottom: 0px;
        .product-footer h2 {
            margin-bottom: 18px;
        }
    }
    .product-mark {
        left: 20px;
    }
    .product-footer {
        padding: 0 20px;
    }
    .tips-wrapper .tip {
        width: 103px;
        padding: 0;
        &:last-of-type {
            width: 165px;
        }
    }
    .text-content {
        // padding: 0 20px;
    }
    .main-nav {
        // margin: 0 20px;
    }
    #home {
        .text-content {
            padding: 0;
        }
        .main-nav {
            margin: 0px;
        }
    }
    #home h1,
    #loyalityProgram h1,
    #singleItem h1 {
        margin-bottom: 8px;
    }
    .main-product-image {
        margin-top: 30px;
        img {
            width: 100%;
        }
    }
    .discuss-user-column {
        width: 180px;
        .profile-wrapper {
            margin-left: 10px;
        }
    }
    .pagination.md-b {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .container-sm {
        padding-right: 0px;
    }
    .invite-form {
        margin-bottom: 40px;
    }
    .comments {
        margin-top: 30px;
        margin-bottom: 45px;
    }
    .collapse .comments {
        margin-bottom: 0;
    }
    #expertAsk {
        .pagination {
            margin-top: 1.3rem;
            margin-bottom: 38px;
        }
    }
    .stories-list_item .profile-wrapper {
        float: none;
    }
    .edit-form {
        margin-bottom: 40px;
        padding-right: 0;
    }
    //  .stories-list .col-md-6:nth-last-of-type(3) .stories-list_item , .stories-list .col-md-6:nth-last-of-type(4) .stories-list_item {
    //     margin-bottom: 0;
    // }
    .total-points {
        margin-bottom: 5px;
    }
    .table {
        margin-top: 30px;
    }
    .table:last-of-type {
        margin-bottom: 45px;
    }
    .article-section {
        margin-bottom: 35px;
    }
    .location-form .form-group:last-of-type {
        // margin-bottom: 0;
    }
    #formRegistrationModal .modal-body {
        padding-bottom: 50px;
    }
    .main-product-image {
        margin-right: 0px;
    }
    .main-product-info-wrapper {
        margin-left: 30px;
    }
    .sidebar-form .form-group {
        max-width: 470px;
    }
}

@media (min-width: 767px) and (max-width: 988px) {
    .block-banner-sm {
        height: 373px;
        .btn {
            margin-top: 75px;
        }
        h2 {
            font-size: 30px;
            line-height: 38px;
        }
    }
    .block-banner-5 {
        background-position: center 200px;
    }
    .block-banner-7 {
        background-position: center 210px;
        background-size: 97%;
    }
    .col-md-6 .block-banner-3 {
        height: 373px;
    }
    .price-wrapper {
        .display-2 {
            font-size: 45px;
        }
    }
    .discuss-text-column {
        width: 400px;
    }
    .block-banner-sm .btn {
        margin-top: 75px;
    }
}

@media (max-width: 767px) {
    .profile-info {
        width: auto;
    }
    .number-wrapper {
        width: 50%;
        padding-right: 10px;
        .display-2 {
            margin-bottom: 5px;
            font-size: 30px;
        }
    }
    #home h1 {
        margin-bottom: 5px;
    }
    .profile-info {
        padding: 20px 0px 20px 20px;
    }
    .user-info-wrapper .profile-wrapper {
        margin: 0;
    }
    .sidebar-content {
        padding: 20px 20px 0;
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    .sidebar-content .user-info-wrapper .link {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .points-description p {
        padding-bottom: 1.3rem;
    }
    .points-level.active .points-description h4 {
        margin-bottom: 20px;
    }
    .points-level.active-prev .dots-line:before {
        top: 51%;
    }
    .tiles-extra {
        img {
            width: 100%;
            float: none !important;
        }
        .tiles-container {
            padding-left: 30px;
        }
    }
    .tiles-body-title {
        width: 100%;
        padding: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
    .tiles-banner .tiles-container {
        text-align: center;
    }
    .tiles-banner {
        background-position: 100% bottom;
        background-size: contain;
    }
    .tiles-label {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        br {
            display: none;
        }
    }
    .tiles .tiles-container {
        min-height: 148px;
        min-height: 310px;
        padding-left: 10px;
        padding-right: 10px;
        // padding-bottom: 50px;
    }
    .tiles .tiles-container h3 {
        margin-bottom: 30px;
    }
    .tiles-extra .tiles-container,
    .tiles-banner .tiles-container {
        min-height: 148px;
        height: auto;
    }
    .action-bar {
        bottom: 20px;
    }
    .single-comment:last-of-type .inner-box .form-control {
        height: 120px;
    }
    .block-banner {
        margin-bottom: 10px;
    }
    .mobile-subheader {
        height: 55px;
        width: calc(100% + 20px);
        margin-left: -10px;
        background-color: #4a5d75;
        padding: 0px 10px 0 5px;
        h4 {
            margin: 20px 6px;
            font-size: 13px;
        }
    }
    .mobile-nav-btn {
        height: 55px;
        width: 60px;
        display: block;
        background-image: url('../images/SVG/hamburger-close-01.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        float: left;
    }
    .collapsed.mobile-nav-btn {
        background-image: url('../images/SVG/hamburger-01.svg');
        background-color: transparent;
    }
    header {
        height: 60px;
    }
    .main-mobile-nav {
        // position: absolute;
        // top: 115px;
        // width: 100%;
        // background-color: #ffffff;
    }
    .navbar-main {
        .nav-item {
            width: 100%;
        }
        .nav-item + .nav-item {
            border-top: 1px solid #d6e3ec;
        }
        .nav-link {
            // padding: 25px 25px;
            text-align: left;
            line-height: 38px;
            padding: 12px 20px;
            font-size: 13px;
            &.active {
                background-color: #d6e3ec;
            }
        }
        .icon-main-menu {
            float: left;
            margin: 0;
            height: 38px;
            width: 38px;
            background-size: 61%;
            margin-right: 25px;
        }
    }
    .main-mobile-nav {
        height: calc(100vh - 115px);
        // height: auto;
    }
    .user-info {
        width: 110px;
        height: 55px;
        background-color: transparent;
        padding: 10px 15px;
        font-size: 16px;
        line-height: 15px;
        .arrow-down {
            background-color: transparent;
        }
    }
    .number-wrap {
        float: left;
        margin: 0;
        padding: 6px 0;
    }
    .user-info .profile-wrapper {
        // margin-left: 10px;
        margin: 4px 0px 4px 8px !important;
    }
    .mobile-subheader .user-info.collapsed .arrow-down {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $brand-secondary;
        border-bottom: 0 solid;
    }
    .mobile-subheader .user-info .arrow-down {
        margin: 27px 11px;
        background-image: none;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid $brand-secondary;
        border-top: 0 solid;
    }
    .dropdown-mobile {
        .navbar-main .nav-link {
            text-transform: none;
        }
    }
    .user-info.collapsed {
        background-color: transparent;
    }
    .user-info {
        background-color: #ffffff;
    }
    .welcome-container {
        padding: 30px 0px;
    }
    .welcome-wrapper {
        background-image: none;
        border-top: 0px solid;
        padding-bottom: 0px;
    }
    .welcome-container .intro {
        margin-top: 15px;
    }
    .welcome-title {
        font-size: 20px;
        margin: 13px 0px 0 7px;
        span {
            font-size: 11.5px;
        }
    }
    .welcome-container .display-5 {
        padding-left: 5px;
    }
    .modal-form-content {
        max-width: 370px;
        width: 100%;
    }
    .modal-title {
        display: block;
    }
    .modal-dialog {
        margin: 0px 0px;
    }
    .modal {
        top: 115px;
    }
    .modal-open {
        position: fixed;
        overflow-y: auto;
        position: relative;
    }
    .modal-backdrop {
        background-color: transparent;
    }
    .col-form-label {
        height: 27px;
    }
    .modal-subtitle {
        margin-top: 30px;
        text-align: center;
        &:after {
            left: calc(50% + 95px);
        }
        &:before {
            content: '';
            position: absolute;
            border-bottom: 1px solid #d6e3ec;
            top: 12px;
            left: 0;
            right: calc(50% + 95px)
        }
    }
    .row-sm {
        margin-left: -10px;
        margin-right: -10px;
        .col-sm-3,
        .col-sm-4,
        .col-sm-2 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .col-sm-3 {
            width: 35%;
            float: left;
        }
        .col-sm-2 {
            width: 30%;
            float: left;
        }
    }
    .modal-body {
        padding: 15px 20px 50px;
    }
    .modal-form-content .btn {
        width: 100%;
    }
    .modal-content {
        min-height: calc(100vh - 115px);
        overflow-y: scroll;
    }
    .next-btn {
        position: relative;
        width: 100% !important;
        min-height: 90px;
        margin-bottom: 50px;
        @include clearfix;
        .icon {
            // top: 37px;
            // right: 45px;
        }
    }
    .step-wrapper {
        height: auto;
    }
    .step-wrapper .step-aligin {
        padding-right: 5px;
    }
    .step {
        padding-right: 20px;
        padding-left: 20px;
    }
    .steps-wrapper {
        width: calc(100% + 20px);
        margin-left: -10px;
        overflow: visible;
        margin-bottom: 18px;
        margin-top: 8px;
        height: auto;
    }
    .step1 .form-control {
        width: calc(100% - 90px);
    }
    .step .form-group {
        margin-top: 10px;
    }
    .step1 a.link {
        margin: 13px 0 6px;
        margin-left: -10px;
    }
    .step1 .step-wrapper .step-aligin {
        vertical-align: top;
    }
    .step-wrapper {
        margin-bottom: 8px;
        margin-top: 33px;
        width: 100%;
    }
    .step-number {
        // line-height: 1.2;
    }
    .step2 .step-wrapper .step-aligin {
        display: block;
        float: left;
        &:nth-of-type(2) {
            float: none;
        }
        span br {
            display: none;
        }
    }
    .step-2-icon {
        margin-right: 15px;
    }
    .step-aligin-icon {}
    .step2 .step-aligin.md-down {
        padding-top: 15px;
    }
    .step2 .step-aligin.md-down span {
        margin-bottom: 2px;
    }
    .step2 {
        .step-wrapper .step-aligin-icon {
            float: none;
            text-align: center;
            height: 30px;
        }
        .icon-steps-next {
            transform: rotate(90deg);
            position: relative;
            top: -18px;
        }
    }
    .icon-steps-next {
        margin: 0 auto;
    }
    .step3 .step-aligin:nth-of-type(2n+2) {
        width: auto;
        padding-left: 70px;
        .form-group {
            margin-right: 0;
        }
    }
    .step3 .step-aligin {
        height: 100px;
    }
    .step3 form .form-group {
        margin-top: 0;
    }
    .step3 .form-control {
        width: calc(100% - 75px);
    }
    .step3 form .form-group {
        float: none;
    }
    .step3 form {
        position: relative;
    }
    .icon-photo {
        margin-right: 8px;
        margin-top: 2px;
    }
    .step3 form .step-link {
        position: absolute;
        left: -41px;
        top: 100%;
    }
    .next-btn.wide {
        width: 100%;
    }
    .product-list .product,
    .product-list .block-banner {
        height: 353px;
        margin-bottom: 11px;
        .product-footer h2 {
            margin-bottom: 1px;
        }
    }
    .product-description {
        height: 55px;
        padding: 15px 10px 0px;
    }
    .product-footer {
        padding: 0 10px;
    }
    .product-image {
        height: auto;
        img {
            position: relative;
            width: 100%;
            height: auto;
            left: 0;
            transform: translateX(0);
        }
    }
    .product-hover {
        bottom: -3px;
    }
    .product-mark {
        margin-bottom: 0;
    }
    .product:hover .product-hover,
    .product.active .product-hover {
        bottom: 0;
    }
    .page-link {
        margin: 0 7px;
    }
    .text-content {
        padding: 0 10px;
    }
    .step-product-list {
        margin-bottom: 16px;
    }
    .step2 .step-aligin.md-down {
        margin-bottom: 5px;
    }
    .step4 .step-aligin:nth-of-type(2),
    .step4 .step-aligin:nth-of-type(5) {
        width: auto;
        padding-left: 75px;
        height: 100px;
    }
    .step4 .intro {
        letter-spacing: -0.4px;
    }
    .tooltip-inner {
        font-size: 13px;
        line-height: 18px;
        padding: 10px 19px;
    }
    .select-wrap {
        float: left;
    }
    .select-wrap {
        margin-top: 10px;
        // .select2-container .select2-selection--single .select2-selection__rendered {
        //     padding-top: 0px;
        //     padding-bottom: 0;
        // }
        // .select2-container .select2-selection--single {
        //     height: 30px;
        // }
        // .select-label {
        //     line-height: 30px;
        // }
        // .select2-container--default .select2-selection--single .select2-selection__arrow {
        //     height: 28px;
        // }
        // .select2-container--default .select2-selection--single .select2-selection__rendered {
        //     font-size: 14px;
        // }
    }
    .product-list {
        margin-top: 15px;
    }
    #loyalityProgram .text-content .intro {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    #home .text-content {
        padding: 0 10px;
    }
    .product-list {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    #singleItem {
        h1 {
            line-height: 36px;
        }
    }
    .main-product-image {
        margin-top: 10px;
    }
    .main-product-info-wrapper h2 {
        margin-top: 20px;
    }
    .main-product-info-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .price {
        width: 100%;
    }
    .location-form {
        margin-top: 15px;
        width: 100%;
    }
    .form-group .icon-question-light {
        position: relative;
        right: auto;
        bottom: 0px;
    }
    .location-form .form-group {
        margin-bottom: 9px;
    }
    .location-form .btn {
        margin-top: 12px;
    }
    .main-product-text {
        padding: 0 10px;
    }
    .discuss-action-bar {
        margin-top: 15px;
        .select-wrap {
            margin-top: 20px;
        }
    }
    .discuss-list_item {
        height: auto;
        padding-bottom: 20px;
    }
    .discuss-text-column {
        width: 100%;
        padding: 25px 10px 10px;
    }
    .discuss-middle-column {
        padding: 10px 10px;
    }
    .discuss-list_item .dots-line {
        top: 3px;
    }
    .discuss-user-column {
        padding: 5px 0;
    }
    .invite-form {
        padding: 0 10px;
    }
    .page-item {
        .page-link {
            margin: 3px;
        }
        &:first-of-type {
            .page-link {
                margin-left: -7px;
                position: relative;
                left: 0px;
            }
        }
        &:last-of-type {
            .page-link {
                margin-right: -7px;
                position: relative;
                left: 0px;
            }
        }
    }
    ul.link-bar {
        margin-top: 13px;
        // display: inline-block;
    }
    .topic-action-bar {
        margin-top: 23px;
    }
    .discuss-topics-list_wrapper {
        padding: 0 10px;
    }
    .topic-item-bar {
        padding: 18px 10px 3px;
    }
    .discuss-topics-list_item .action-bar {
        margin-top: 13px;
        margin-bottom: 30px;
    }
    .discuss-topics-list_item .action-bar li:first-of-type {
        display: block;
        margin-bottom: 4px;
    }
    .discuss-topics-list_expert .topic-item-bar .user-name {
        margin-top: 6px;
    }
    .discuss-topics-list_expert .topic-item-bar .subtitle {
        margin-bottom: 10px;
    }
    .discuss-topics-list_expert .action-bar li:first-of-type {
        display: inline-block;
        margin-bottom: 0;
    }
    .discuss-topics-list_expert .action-bar {
        margin-top: 4px;
        margin-bottom: 32px;
    }
    .comments {
        padding-left: 10px;
        padding-right: 10px;
    }
    #discussion .comments {
        margin-top: 0px;
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-bottom: 40px;
    }
    #discussion .single-comment:last-of-type .inner-box .form-control {
        height: 72px;
    }
    .single-comment:last-of-type .inner-box .form-control {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 13px;
    }
    #discussion .pagination {
        margin-top: 11px;
        margin-bottom: 35px;
    }
    .author {
        margin-bottom: 30px;
    }
    .form-search {
        width: 100%;
    }
    .discuss-action-bar {
        .form-group {
            width: 100%;
        }
    }
    .answer-item .topic-item-bar {
        padding: 20px 10px 3px;
    }
    .answer-item .discuss-topics-list_wrapper {
        padding: 0 10px;
    }
    .answer-ticket {
        padding: 26px 10px 17px;
    }
    .answer-item .discuss-topics-list_expert .topic-item-bar .user-name {
        margin-top: 10px;
    }
    .answer-item .discuss-topics-list_expert .topic-item-bar .subtitle {
        margin-bottom: 15px;
    }
    .answer-item .discuss-topics-list_item .action-bar {
        margin-bottom: 20px;
        margin-top: 6px;
    }
    aside .col-lg-4:nth-last-of-type(2) .block-banner {
        margin-bottom: 10px;
    }
    .tiles-banner-2 .intro {
        font-size: 24px;
        line-height: 28px;
    }
    .tiles-banner-2 {
        padding: 17px 40px 27px;
        .btn {
            margin-top: 32px;
            width: 200px;
        }
    }
    .stories-list {
        margin-top: 40px;
    }
    .stories-list_item p {
        padding: 0 10px;
    }
    .stories-list_item {
        margin-bottom: 9px;
    }
    // .stories-list .col-md-6:nth-last-of-type(3) .stories-list_item, .stories-list .col-md-6:nth-last-of-type(4) .stories-list_item {
    //     margin-bottom: 9px;
    // }
    .stories-list .col-md-6:last-of-type .stories-list_item {
        margin-bottom: 9px;
    }
    .edit-form .modal-subtitle {
        text-align: left;
        margin-bottom: 20px;
        &:before {
            display: none;
        }
    }
    .edit-form {
        padding: 0 10px;
    }
    .user-photo-wrapper {
        margin-bottom: 50px;
    }
    .edit-form .btn {
        margin-top: 7px;
    }
    .edit-form {
        margin-bottom: 50px;
    }
    .edit-form .modal-subtitle:after {
        top: 50%;
        margin-top: -1px;
    }
    .edit-form .modal-subtitle .slim {
        display: block;
    }
    .edit-form .modal-subtitle-lg {
        margin-top: 20px;
    }
    .table tr {
        background-color: #f7f9fb;
        display: block;
        border-bottom: 10px solid #ffffff;
        padding: 16px 0 25px;
        padding-right: 125px;
        position: relative;
        min-height: 125px;
    }
    .table td {
        display: block;
        border-bottom: 0 solid;
        padding: 2px 10px !important;
        line-height: 20px;
    }
    .table th {
        display: none;
    }
    .table td.icon-col {
        position: absolute;
        right: 0;
        width: 112px;
        top: 16px;
        text-align: center;
        border-left: 1px solid $gray-lightest;
        height: 73px;
    }
    .table td.icon-col .icon-status {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin: 0 auto 8px;
    }
    .table-striped-conversely td:last-of-type,
    .table-striped-conversely th:last-of-type {
        text-align: left;
    }
    .table-total tr:last-of-type td {
        border-bottom: 0 solid;
    }
    .tiles-banner-3 {
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        background-size: 111%;
        background-position: center bottom;
    }
    .tiles-banner-3 .tiles-container {
        text-align: left;
    }
    .table thead tr {
        display: none;
    }
    .table-striped td:nth-last-of-type(2),
    .table-striped th:nth-last-of-type(2) {
        text-align: left;
    }
    .table {
        margin-bottom: 30px;
    }
    .table:last-of-type {
        margin-bottom: 35px;
        margin-top: 15px;
    }
    #loyalityProgram footer {
        margin-top: 30px;
    }
    #loyalityProgram .pagination {
        margin-top: 20px;
    }
    .stories-list .col-md-6:nth-last-of-type(2) .stories-list_item {
        margin-bottom: 9px;
    }
    .stories-list .col-md-6:nth-last-of-type(1) .stories-list_item {
        margin-bottom: 0px;
    }
    #expertAsk .loadmore {
        margin-bottom: 30px;
    }
    .sidebar-form-wrapper .btn {
        width: 100% !important;
    }
    .sidebar-form {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    .sidebar-form-wrapper {
        padding: 25px 30px 40px;
    }
    .product-list .block-banner {
        padding: 30px 30px 50px;
    }
    .product-description {
        // padding: 15px 30px 0px;
    }
    .main-product-info-wrapper {
        margin-left: 0;
    }
    .user-info-wrapper .profile-wrap {
        @include clearfix;
    }
    .points-level.active .points-description p {
        margin-top: 3px;
    }
    .points-wrapper {
        margin-bottom: 15px;
    }
    header {
        border-bottom: 0px solid;
    }
    .user-info .number-wrap {
        margin-left: 0px;
    }
    .dropdown-mobile .navbar-main .nav-link {
        font-family: $font-family-base;
    }
    .next-btn br {
        display: none;
    }
    .next-btn.wide {
        padding-left: 0;
        text-align: center;
    }
    .file-return {
        max-width: 126px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #loyalityProgram .text-content .select2 {
        width: 140px !important;
    }
    .product .divider {
        margin: 0 10px;
    }
    .discuss-user-column {
        width: calc(100% - 115px);
    }
    .edit-form .modal-subtitle:first-of-type {
        margin-top: 10px;
    }
    #friendsInvitation .tooltip {
        left: -87px !important;
    }
    #friendsInvitation .tooltip.tooltip-bottom .tooltip-arrow,
    #friendsInvitation .tooltip.bs-tether-element-attached-top .tooltip-arrow {
        left: auto;
        right: 18px;
    }
    .tiles img.pull-left {
        position: relative;
        top: 0;
        transform: translateY(0);
    }
    .points-wrapper {
        padding-right: 20px;
    }
    #mobileNav {
        position: fixed;
        top: 115px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 90;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #ffffff;
    }
    #dropdownMenuMobile {
        position: fixed;
        top: 115px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 90;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #ffffff;
    }
    .js .input-file {
        width: auto;
    }
    .step3 .form-group .input-file-container {
        width: calc(100vw - 157px);
        padding: 10px 0px;
    }
}
