
@font-face {
    font-family: 'Gothic';
    src: url(../fonts/GOTHIC.ttf);
}

@font-face {
    font-family: 'Gothic-Bold';
    src: url(../fonts/GOTHICB.ttf);
}
// @font-face {
//     font-family: 'Trebuchet';
//     src: url(../fonts/TrebuchetMS.ttf);
// }
@font-face {
    font-family: 'AvantGarde';
    src: url(../fonts/GOTHIC.ttf);
}
@font-face {
    font-family: 'Trebuchet-Bold';
    src: url(../fonts/trebucbd.ttf);
}


@font-face {
    font-family: 'Trebuchet';
    src: url('../fonts/trebuchetMS.eot');
    src: url('../fonts/trebuchetMS.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trebuchetMS.woff2') format('woff2'),
         url('../fonts/trebuchetMS.woff') format('woff'),
         url('../fonts/trebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}