@import url('main-blessed1.css?z=1474449868364');


@media (max-width: 767px) {
  .profile-info {
    width: auto; }
  .number-wrapper {
    width: 50%;
    padding-right: 10px; }
    .number-wrapper .display-2 {
      margin-bottom: 5px;
      font-size: 30px; }
  #home h1 {
    margin-bottom: 5px; }
  .profile-info {
    padding: 20px 0px 20px 20px; }
  .user-info-wrapper .profile-wrapper {
    margin: 0; }
  .sidebar-content {
    padding: 20px 20px 0;
    width: calc(100% + 20px);
    margin-left: -10px; }
  .sidebar-content .user-info-wrapper .link {
    margin-top: 25px;
    margin-bottom: 30px; }
  .points-description p {
    padding-bottom: 1.3rem; }
  .points-level.active .points-description h4 {
    margin-bottom: 20px; }
  .points-level.active-prev .dots-line:before {
    top: 51%; }
  .tiles-extra img {
    width: 100%;
    float: none !important; }
  .tiles-extra .tiles-container {
    padding-left: 30px; }
  .tiles-body-title {
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    text-align: center; }
  .tiles-banner .tiles-container {
    text-align: center; }
  .tiles-banner {
    background-position: 100% bottom;
    background-size: contain; }
  .tiles-label {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0; }
    .tiles-label br {
      display: none; }
  .tiles .tiles-container {
    min-height: 148px;
    min-height: 310px;
    padding-left: 10px;
    padding-right: 10px; }
  .tiles .tiles-container h3 {
    margin-bottom: 30px; }
  .tiles-extra .tiles-container,
  .tiles-banner .tiles-container {
    min-height: 148px;
    height: auto; }
  .action-bar {
    bottom: 20px; }
  .single-comment:last-of-type .inner-box .form-control {
    height: 120px; }
  .block-banner {
    margin-bottom: 10px; }
  .mobile-subheader {
    height: 55px;
    width: calc(100% + 20px);
    margin-left: -10px;
    background-color: #4a5d75;
    padding: 0px 10px 0 5px; }
    .mobile-subheader h4 {
      margin: 20px 6px;
      font-size: 13px; }
  .mobile-nav-btn {
    height: 55px;
    width: 60px;
    display: block;
    background-image: url("../images/SVG/hamburger-close-01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    float: left; }
  .collapsed.mobile-nav-btn {
    background-image: url("../images/SVG/hamburger-01.svg");
    background-color: transparent; }
  header {
    height: 60px; }
  .navbar-main .nav-item {
    width: 100%; }
  .navbar-main .nav-item + .nav-item {
    border-top: 1px solid #d6e3ec; }
  .navbar-main .nav-link {
    text-align: left;
    line-height: 38px;
    padding: 12px 20px;
    font-size: 13px; }
    .navbar-main .nav-link.active {
      background-color: #d6e3ec; }
  .navbar-main .icon-main-menu {
    float: left;
    margin: 0;
    height: 38px;
    width: 38px;
    background-size: 61%;
    margin-right: 25px; }
  .main-mobile-nav {
    height: calc(100vh - 115px); }
  .user-info {
    width: 110px;
    height: 55px;
    background-color: transparent;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 15px; }
    .user-info .arrow-down {
      background-color: transparent; }
  .number-wrap {
    float: left;
    margin: 0;
    padding: 6px 0; }
  .user-info .profile-wrapper {
    margin: 4px 0px 4px 8px !important; }
  .mobile-subheader .user-info.collapsed .arrow-down {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #65bdeb;
    border-bottom: 0 solid; }
  .mobile-subheader .user-info .arrow-down {
    margin: 27px 11px;
    background-image: none;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #65bdeb;
    border-top: 0 solid; }
  .dropdown-mobile .navbar-main .nav-link {
    text-transform: none; }
  .user-info.collapsed {
    background-color: transparent; }
  .user-info {
    background-color: #ffffff; }
  .welcome-container {
    padding: 30px 0px; }
  .welcome-wrapper {
    background-image: none;
    border-top: 0px solid;
    padding-bottom: 0px; }
  .welcome-container .intro {
    margin-top: 15px; }
  .welcome-title {
    font-size: 20px;
    margin: 13px 0px 0 7px; }
    .welcome-title span {
      font-size: 11.5px; }
  .welcome-container .display-5 {
    padding-left: 5px; }
  .modal-form-content {
    max-width: 370px;
    width: 100%; }
  .modal-title {
    display: block; }
  .modal-dialog {
    margin: 0px 0px; }
  .modal {
    top: 115px; }
  .modal-open {
    position: fixed;
    overflow-y: auto;
    position: relative; }
  .modal-backdrop {
    background-color: transparent; }
  .col-form-label {
    height: 27px; }
  .modal-subtitle {
    margin-top: 30px;
    text-align: center; }
    .modal-subtitle:after {
      left: calc(50% + 95px); }
    .modal-subtitle:before {
      content: '';
      position: absolute;
      border-bottom: 1px solid #d6e3ec;
      top: 12px;
      left: 0;
      right: calc(50% + 95px); }
  .row-sm {
    margin-left: -10px;
    margin-right: -10px; }
    .row-sm .col-sm-3,
    .row-sm .col-sm-4,
    .row-sm .col-sm-2 {
      padding-left: 10px;
      padding-right: 10px; }
    .row-sm .col-sm-3 {
      width: 35%;
      float: left; }
    .row-sm .col-sm-2 {
      width: 30%;
      float: left; }
  .modal-body {
    padding: 15px 20px 50px; }
  .modal-form-content .btn {
    width: 100%; }
  .modal-content {
    min-height: calc(100vh - 115px);
    overflow-y: scroll; }
  .next-btn {
    position: relative;
    width: 100% !important;
    min-height: 90px;
    margin-bottom: 50px; }
    .next-btn::after {
      content: "";
      display: table;
      clear: both; }
  .step-wrapper {
    height: auto; }
  .step-wrapper .step-aligin {
    padding-right: 5px; }
  .step {
    padding-right: 20px;
    padding-left: 20px; }
  .steps-wrapper {
    width: calc(100% + 20px);
    margin-left: -10px;
    overflow: visible;
    margin-bottom: 18px;
    margin-top: 8px;
    height: auto; }
  .step1 .form-control {
    width: calc(100% - 90px); }
  .step .form-group {
    margin-top: 10px; }
  .step1 a.link {
    margin: 13px 0 6px;
    margin-left: -10px; }
  .step1 .step-wrapper .step-aligin {
    vertical-align: top; }
  .step-wrapper {
    margin-bottom: 8px;
    margin-top: 33px;
    width: 100%; }
  .step2 .step-wrapper .step-aligin {
    display: block;
    float: left; }
    .step2 .step-wrapper .step-aligin:nth-of-type(2) {
      float: none; }
    .step2 .step-wrapper .step-aligin span br {
      display: none; }
  .step-2-icon {
    margin-right: 15px; }
  .step2 .step-aligin.md-down {
    padding-top: 15px; }
  .step2 .step-aligin.md-down span {
    margin-bottom: 2px; }
  .step2 .step-wrapper .step-aligin-icon {
    float: none;
    text-align: center;
    height: 30px; }
  .step2 .icon-steps-next {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
    top: -18px; }
  .icon-steps-next {
    margin: 0 auto; }
  .step3 .step-aligin:nth-of-type(2n+2) {
    width: auto;
    padding-left: 70px; }
    .step3 .step-aligin:nth-of-type(2n+2) .form-group {
      margin-right: 0; }
  .step3 .step-aligin {
    height: 100px; }
  .step3 form .form-group {
    margin-top: 0; }
  .step3 .form-control {
    width: calc(100% - 75px); }
  .step3 form .form-group {
    float: none; }
  .step3 form {
    position: relative; }
  .icon-photo {
    margin-right: 8px;
    margin-top: 2px; }
  .step3 form .step-link {
    position: absolute;
    left: -41px;
    top: 100%; }
  .next-btn.wide {
    width: 100%; }
  .product-list .product,
  .product-list .block-banner {
    height: 353px;
    margin-bottom: 11px; }
    .product-list .product .product-footer h2,
    .product-list .block-banner .product-footer h2 {
      margin-bottom: 1px; }
  .product-description {
    height: 55px;
    padding: 15px 10px 0px; }
  .product-footer {
    padding: 0 10px; }
  .product-image {
    height: auto; }
    .product-image img {
      position: relative;
      width: 100%;
      height: auto;
      left: 0;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .product-hover {
    bottom: -3px; }
  .product-mark {
    margin-bottom: 0; }
  .product:hover .product-hover,
  .product.active .product-hover {
    bottom: 0; }
  .page-link {
    margin: 0 7px; }
  .text-content {
    padding: 0 10px; }
  .step-product-list {
    margin-bottom: 16px; }
  .step2 .step-aligin.md-down {
    margin-bottom: 5px; }
  .step4 .step-aligin:nth-of-type(2),
  .step4 .step-aligin:nth-of-type(5) {
    width: auto;
    padding-left: 75px;
    height: 100px; }
  .step4 .intro {
    letter-spacing: -0.4px; }
  .tooltip-inner {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 19px; }
  .select-wrap {
    float: left; }
  .select-wrap {
    margin-top: 10px; }
  .product-list {
    margin-top: 15px; }
  #loyalityProgram .text-content .intro {
    margin-bottom: 10px;
    margin-top: 15px; }
  #home .text-content {
    padding: 0 10px; }
  .product-list {
    width: calc(100% + 20px);
    margin-left: -10px; }
  #singleItem h1 {
    line-height: 36px; }
  .main-product-image {
    margin-top: 10px; }
  .main-product-info-wrapper h2 {
    margin-top: 20px; }
  .main-product-info-wrapper {
    padding-left: 10px;
    padding-right: 10px; }
  .price {
    width: 100%; }
  .location-form {
    margin-top: 15px;
    width: 100%; }
  .form-group .icon-question-light {
    position: relative;
    right: auto;
    bottom: 0px; }
  .location-form .form-group {
    margin-bottom: 9px; }
  .location-form .btn {
    margin-top: 12px; }
  .main-product-text {
    padding: 0 10px; }
  .discuss-action-bar {
    margin-top: 15px; }
    .discuss-action-bar .select-wrap {
      margin-top: 20px; }
  .discuss-list_item {
    height: auto;
    padding-bottom: 20px; }
  .discuss-text-column {
    width: 100%;
    padding: 25px 10px 10px; }
  .discuss-middle-column {
    padding: 10px 10px; }
  .discuss-list_item .dots-line {
    top: 3px; }
  .discuss-user-column {
    padding: 5px 0; }
  .invite-form {
    padding: 0 10px; }
  .page-item .page-link {
    margin: 3px; }
  .page-item:first-of-type .page-link {
    margin-left: -7px;
    position: relative;
    left: 0px; }
  .page-item:last-of-type .page-link {
    margin-right: -7px;
    position: relative;
    left: 0px; }
  ul.link-bar {
    margin-top: 13px; }
  .topic-action-bar {
    margin-top: 23px; }
  .discuss-topics-list_wrapper {
    padding: 0 10px; }
  .topic-item-bar {
    padding: 18px 10px 3px; }
  .discuss-topics-list_item .action-bar {
    margin-top: 13px;
    margin-bottom: 30px; }
  .discuss-topics-list_item .action-bar li:first-of-type {
    display: block;
    margin-bottom: 4px; }
  .discuss-topics-list_expert .topic-item-bar .user-name {
    margin-top: 6px; }
  .discuss-topics-list_expert .topic-item-bar .subtitle {
    margin-bottom: 10px; }
  .discuss-topics-list_expert .action-bar li:first-of-type {
    display: inline-block;
    margin-bottom: 0; }
  .discuss-topics-list_expert .action-bar {
    margin-top: 4px;
    margin-bottom: 32px; }
  .comments {
    padding-left: 10px;
    padding-right: 10px; }
  #discussion .comments {
    margin-top: 0px;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-bottom: 40px; }
  #discussion .single-comment:last-of-type .inner-box .form-control {
    height: 72px; }
  .single-comment:last-of-type .inner-box .form-control {
    font-size: 14px;
    line-height: 18px;
    padding: 9px 13px; }
  #discussion .pagination {
    margin-top: 11px;
    margin-bottom: 35px; }
  .author {
    margin-bottom: 30px; }
  .form-search {
    width: 100%; }
  .discuss-action-bar .form-group {
    width: 100%; }
  .answer-item .topic-item-bar {
    padding: 20px 10px 3px; }
  .answer-item .discuss-topics-list_wrapper {
    padding: 0 10px; }
  .answer-ticket {
    padding: 26px 10px 17px; }
  .answer-item .discuss-topics-list_expert .topic-item-bar .user-name {
    margin-top: 10px; }
  .answer-item .discuss-topics-list_expert .topic-item-bar .subtitle {
    margin-bottom: 15px; }
  .answer-item .discuss-topics-list_item .action-bar {
    margin-bottom: 20px;
    margin-top: 6px; }
  aside .col-lg-4:nth-last-of-type(2) .block-banner {
    margin-bottom: 10px; }
  .tiles-banner-2 .intro {
    font-size: 24px;
    line-height: 28px; }
  .tiles-banner-2 {
    padding: 17px 40px 27px;
    background-position: center 50%; }
    .tiles-banner-2 .btn {
      margin-top: 32px;
      width: 200px; }
  .stories-list {
    margin-top: 40px; }
  .stories-list_item p {
    padding: 0 10px; }
  .stories-list_item {
    margin-bottom: 9px; }
  .stories-list .col-md-6:last-of-type .stories-list_item {
    margin-bottom: 9px; }
  .edit-form .modal-subtitle {
    text-align: left;
    margin-bottom: 20px; }
    .edit-form .modal-subtitle:before {
      display: none; }
  .edit-form {
    padding: 0 10px; }
  .user-photo-wrapper {
    margin-bottom: 50px; }
  .edit-form .btn {
    margin-top: 7px; }
  .edit-form {
    margin-bottom: 50px; }
  .edit-form .modal-subtitle:after {
    top: 50%;
    margin-top: -1px; }
  .edit-form .modal-subtitle .slim {
    display: block; }
  .edit-form .modal-subtitle-lg {
    margin-top: 20px; }
  .table tr {
    background-color: #f7f9fb;
    display: block;
    border-bottom: 10px solid #ffffff;
    padding: 16px 0 25px;
    padding-right: 125px;
    position: relative;
    min-height: 125px; }
  .table td {
    display: block;
    border-bottom: 0 solid;
    padding: 2px 10px !important;
    line-height: 20px; }
  .table th {
    display: none; }
  .table td.icon-col {
    position: absolute;
    right: 0;
    width: 112px;
    top: 16px;
    text-align: center;
    border-left: 1px solid #e0e5ea;
    height: 73px; }
  .table td.icon-col .icon-status {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin: 0 auto 8px; }
  .table-striped-conversely td:last-of-type,
  .table-striped-conversely th:last-of-type {
    text-align: left; }
  .table-total tr:last-of-type td {
    border-bottom: 0 solid; }
  .tiles-banner-3 {
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-size: 111%;
    background-position: center bottom; }
  .tiles-banner-3 .tiles-container {
    text-align: left; }
  .table thead tr {
    display: none; }
  .table-striped td:nth-last-of-type(2),
  .table-striped th:nth-last-of-type(2) {
    text-align: left; }
  .table {
    margin-bottom: 30px; }
  .table:last-of-type {
    margin-bottom: 35px;
    margin-top: 15px; }
  #loyalityProgram footer {
    margin-top: 30px; }
  #loyalityProgram .pagination {
    margin-top: 20px; }
  .stories-list .col-md-6:nth-last-of-type(2) .stories-list_item {
    margin-bottom: 9px; }
  .stories-list .col-md-6:nth-last-of-type(1) .stories-list_item {
    margin-bottom: 0px; }
  #expertAsk .loadmore {
    margin-bottom: 30px; }
  .sidebar-form-wrapper .btn {
    width: 100% !important; }
  .sidebar-form {
    width: calc(100% + 20px);
    margin-left: -10px; }
  .sidebar-form-wrapper {
    padding: 25px 30px 40px; }
  .product-list .block-banner {
    padding: 30px 30px 50px; }
  .main-product-info-wrapper {
    margin-left: 0; }
  .user-info-wrapper .profile-wrap::after {
    content: "";
    display: table;
    clear: both; }
  .points-level.active .points-description p {
    margin-top: 3px; }
  .points-wrapper {
    margin-bottom: 15px; }
  header {
    border-bottom: 0px solid; }
  .user-info .number-wrap {
    margin-left: 0px; }
  .dropdown-mobile .navbar-main .nav-link {
    font-family: "Trebuchet", "Helvetica Neue", Arial, sans-serif; }
  .next-btn br {
    display: none; }
  .next-btn.wide {
    padding-left: 0;
    text-align: center; }
  .file-return {
    max-width: 126px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #loyalityProgram .text-content .select2 {
    width: 140px !important; }
  .product .divider {
    margin: 0 10px; }
  .discuss-user-column {
    width: calc(100% - 115px); }
  .edit-form .modal-subtitle:first-of-type {
    margin-top: 10px; }
  #friendsInvitation .tooltip {
    left: -87px !important; }
  #friendsInvitation .tooltip.tooltip-bottom .tooltip-arrow,
  #friendsInvitation .tooltip.bs-tether-element-attached-top .tooltip-arrow {
    left: auto;
    right: 18px; }
  .tiles img.pull-left {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .points-wrapper {
    padding-right: 20px; }
  #mobileNav {
    position: fixed;
    top: 115px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 90;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ffffff; }
  #dropdownMenuMobile {
    position: fixed;
    top: 115px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 90;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ffffff; }
  .js .input-file {
    width: auto; }
  .step3 .form-group .input-file-container {
    width: calc(100vw - 157px);
    padding: 10px 0px; } }