@font-face {
    font-family: 'Gothic';
    src: url(fonts/GOTHIC.ttf);
}

@font-face {
    font-family: 'Gothic-Bold';
    src: url(fonts/GOTHICB.ttf);
}
@font-face {
    font-family: 'Trebuchet';
    src: url(fonts/TrebuchetMS.ttf);
}
 
/* ------------------------------------- 		GLOBAL ------------------------------------- */
* {
		margin:0;
	padding:0;
}
* {
	font-family:'Trebuchet',Helvetica,Arial,sans-serif;
}
img {
		max-width:100%;
}
.collapse {
	padding-right:15px;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased;
		-webkit-text-size-adjust:none;
		width:100%!important;
		height: 100%;
}
/* ------------------------------------- 		ELEMENTS ------------------------------------- */
a {
	color: inherit;
	/*font-size:12px;*/
}
.header-title{
		font-family:'Gothic',Helvetica,Arial,sans-serif;
	color: #6d809a;
	font-size: 20px;
	font-weight: 400;
}
.header-title span{
	color: #ed65a5;
	font-family:'Gothic',Helvetica,Arial,sans-serif;
}
.header td{
	border-bottom: 1px solid #d6e3ec;
	height: 110px;
	vertical-align: middle;
}
.bt {
	padding-top:15px;
}
p.callout {
	padding:9px;
	font-size:12px;
}
p.text {
	padding: 0 30px 25px;
	font-size:16px;
	line-height: 22px;
	color: #4b5d74;
}
p.left {
	padding:5px;
	font-size:12px;
	text-align:left;
}
h4.text-title{
font-size: 13px;
line-height: 22px;
font-weight: bold;
text-transform: uppercase;
color: #4b5d74;
padding:  17px 30px 3px;
}
a.link{
	text-decoration: underline;
}
a.link:hover{
	text-decoration: none;
}
.prod {
	margin:0;
	padding:0;
	color:#aaaaaa;
}
.callout a {
	font-weight:bold;
	color: #aaaaaa;
}
/* ------------------------------------- 		HEADER ------------------------------------- */
table.head-wrap {
	width:100%;
}
.header.container table td.logo {
	padding:15px;
}
.header.container table td.label {
	padding:15px;
	padding-left: 0px;
}
/* ------------------------------------- 		BODY ------------------------------------- */
table.body-wrap {
	width: 100%;
}
/* ------------------------------------- FOOTER------------------------------------- */
table.footer-wrap {
	width:100%;
    
    vertical-align: middle;
}
table.footer-wrap td{
    vertical-align: middle;
    height: 53px;
}
table.footer-wrap a{
   text-decoration: none;
}
table.footer-wrap2 {
	width: 100%;
	margin-bottom: 15px;
}
table.footer-wrap2 p{
	font-size: 16px;
	line-height: 22px;
	color: #4b5d74;
}
table.footer-wrap2 td{
    vertical-align: middle;
    height: 145px;
}

/* ------------------------------------- 		TYPOGRAPHY ------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family:'Gothic',Helvetica,Arial,sans-serif;
line-height:1.1;
margin-bottom:5px;
color:#000;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
font-size:60%;
color:#6f6f6f;
line-height:0;
text-transform:none;
}
h1 {
	font-family:'Gothic',Helvetica,Arial,sans-serif;
font-weight:400;
font-size:38px;
padding:15px 0 15px;
text-transform: uppercase;
color: #4b5d74;
}
h2 {
	font-family:'Gothic',Helvetica,Arial,sans-serif;
font-weight:400;
font-size:26px;
color: #4b5d74;
margin-top: 22px;
}
h3 {
font-weight:500;
font-size:27px;
}
h4 {
font-weight:500;
font-size:23px;
}
h5 {
font-weight:900;
font-size:13px;
color:#c2a67e;
}
h6 {
font-weight:900;
font-size:14px;
text-transform:uppercase;
color:#444;

}
h7 {
font-weight:900;
font-size:14px;
text-transform:uppercase;
color:#444;
padding:5px;
}
.collapse {
margin:0!important;
}
p,ul {
	margin-bottom:2px;
	font-weight:normal;
	font-size:11px;
	line-height:1.6;
}
p.lead {
font-size:14px;
color: #4a5d75;
line-height: 21px;
}
p.last {
margin-bottom:0px;
}
ul li {
margin-left:5px;
list-style-position: inside;
}
/* --------------------------------------------------- 		RESPONSIVENESS		Nuke it from orbit. ------------------------------------------------------ */
/* Set a max-width,and make it display as block so it will automatically stretch to that width,but will also shrink down on a phone or something */
.container {
display:block!important;
max-width:620px!important;
margin:0 auto!important;
/* makes it centered */
clear:both!important;
}
/* This should also be a block element,so that it will fill 100% of the .container */
.content {
padding:5px;
max-width:600px;
margin:0 auto;
display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
width: 100%;
}
/* Odds and ends */
.column {
width:300px;
float:left;
}
.column tr td {
padding:5px;
}
.column-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column table {
width:100%;
}
.social{
	margin-top: 15px;
	min-height: 150px;
	vertical-align: top;
}
.social td{
	border: 0px solid;
	vertical-align: top;
}
.social .column {
width:280px;
min-width:279px;
float:left;
}
.table-img{
	height: 100%;
	width: 230px;
	max-width: 230px;
}
.column3 {
width:300px;
float:left;
}
.column3 tr td {
padding:1px;
}
.column3-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column3 table {
width:100%;
}
.column2 {
width:240px;
	float:left;
}
.column2 tr td {
padding:5px;
}
.column2-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column2 table {
width:100%;
}
.social .column {
width:280px;
min-width:279px;
float: left;
}
/* Odds and ends */
.prod {
width:200px;
float:left;
}
.prod tr td {
padding:5px;
}
.prod-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.prod table {
width:100%;
}
.prod .column {
width:200px;
min-width:200px;
float: left;
}
.label{
	font-family:'Gothic',Helvetica,Arial,sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.label.discussion{
	color: #825b91;
}
.label.expert{
	color: #ed65a5;
}
.label.expert{
	color: #ed65a5;
}
.label-wrap{
	width: 110px;
}
.label-wrap th{
	padding: 20px 0 10px;

}
.footer-wrap a{
	color: #a8b4c0;
}
.info-wrapper{
	width: 250px !important;
	padding: 20px 0;
		background-color: #f5f7f8;
		margin-left: 30px;
}
.info-wrapper td{
	color: #ed65a5;
	padding: 0 40px;
}
.info-wrapper p{
	font-size: 13px;
	line-height: 18px;
}
.info-wrapper a{
	font-size: 13px;
	line-height: 18px;
	color: #0074bd;
	text-decoration: uppercase;

}
.display-1{
	font-size: 45px;
		font-family:'Gothic',Helvetica,Arial,sans-serif;
	/*line-height: */
}
.display-6{
	text-transform: uppercase;
	font-size: 13px;
		font-family:'Gothic',Helvetica,Arial,sans-serif;
}

/* Be sure to place a .clear element after each set of columns,just to be safe */
.clear {
display:block;
clear: both;
}
/* ------------------------------------------- 		PHONE		For clients that support media queries.		Nothing fancy. -------------------------------------------- */
@media only screen and (max-width:600px) {
	a[class="btn"] {
	display:block!important;
	margin-bottom:10px!important;
	background-image:none!important;
	margin-right:0!important;
}
div[class="column"] {
	width:auto!important;
	float:none!important;
}
div[class="column2"] {
	width:auto!important;
	float:none!important;
}
div[class="column3"] {
	width:auto!important;
	float:none!important;
}
table[class="top"] {
	width:auto!important;
	float:none!important;
}
.prod {
	width:150px;
	float:left;
}
		table.social div[class="column"] {
		width: auto!important;
}
}